img {
    aspect-ratio: 3/2;
    cursor: pointer;
}

.mySwiper .swiper-slide {
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.css-fix {
    white-space: pre-wrap;
    /* or pre-line */
}

@media only screen and (max-width: 600px) {
    .myTabs {
        max-Height: 400px !important
    }
}

